body {
    /* font-family: Arial, sans-serif; */
    font-family: Atkinson Hyperlegible, ui-sans-serif, sans-serif, STIX Two Math;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
    background-color: #202020;
    /* background-image: linear-gradient(to bottom, #323232, #0e0e0e); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-size-adjust: 100%;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

main {
    display: flex;
    margin: 1em;
}

main section {
    flex: 3;
    margin-right: 1em;
}

main aside {
    flex: 1;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background: #fff;
}

.content {
    max-width: 49rem;
    text-align: justify;
    /* color: #515151; */
    padding: 2rem;
}

html {
    scrollbar-color: #09ff00 #202020;
    line-height: 1.5;
}

#sidebar {
    flex: 0 0 auto;
    padding: 2rem;
}

#sidebar, .home #sidebar {
    width: 19rem;
    text-align: left;
}

#sidebar .site-title, .home #sidebar .site-title {
    font-family: Atkinson Hyperlegible, ui-sans-serif, sans-serif, STIX Two Math;
    font-size: 2rem;
}

@media (max-width: 49rem) {
    #sidebar, .home #sidebar {
        width: 100%;
        text-align: center;
    }
}

#sidebar .favicon, .home #sidebar .favicon {
    width: 30px;
    margin: 0.3rem 0 1rem;
}